/* skygis_style.css */

body{
      background-color: #cdcdcb
}

/* for the banner at the top */
#banner{
    width: 728px;
    height: 90px;
    margin:auto;
    text-align:center;
    line-height:90px;
}
/* for the navigation menu under the banner */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
  background-color: #111
}

img {
    float: center;
}

div {
    width: 320px;
    padding: 5px;
    border: 0px solid gray;
    margin: 0;
}
