/* skygis_style.css */

body{
      background-color: #cdcdcb
}

/* for the banner at the top */
.banner{
    width:60%;
    height:100px;
    margin:auto;
    background-color:#00b3b3;
    color: white;
}
.bannertxt1 {
    position: relative;
    left: 40%;
    margin:auto;
    font-family:courier;
    font-size: 260%;    
}
.bannertxt2 {
    position: relative;
    left: 39%;
    margin:auto;
    font-family:courier;
    font-size: 150%;    
}
/* the left side navigation menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #00b3b3;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
/* for the main paragraph */
.pmain {
    border: 1px solid black;
    margin: 50px;
    padding: 25px 50px 25px;    
}